<div id="header">
    <div id="header-div">
        <div id="logo">
            <a href="http://developer.atlassian.com" tabindex="-1"><img src="../../assets/images/atlassian-logo.png" alt="" border="0"></a>
        </div>
        <div id="dac-menu-bar">
            <a href="http://developer.atlassian.com//display/DOCS">Docs</a>
            <a href="http://developer.atlassian.com/static/" class="active">Reference</a>
            <a href="http://developer.atlassian.com/display/TOOLS">Tools</a>
            <a href="http://developer.atlassian.com/display/MARKET">Plugin Exchange</a>
            <a href="http://developer.atlassian.com/display/SUPPORT">Answers</a>
            <a href="http://developer.atlassian.com/display/NEWS">News</a>
            <a href="http://developer.atlassian.com/display/ABOUT">About</a>
            <span id="login-link" class="$paramclass" style="">
                <a href="http://developer.atlassian.com/display/LAND/Log+In+or+Sign+Up">Log In</a>
            </span>
        </div>
        <div id="quicksearch-div">
            <form id="quick-search" method="get" action="https://developer.atlassian.com/dosearchsite.action"
            _lpchecked="1">
                <input type="text" name="queryString" accesskey="q">
                <select name="where" class="search-product-selector">
                    <option value="">
                        All Products
                    </option>
                    <optgroup label="Bamboo">
                        <option value="bamboo_3_2">
                            Bamboo 3.2
                        </option>
                        <option value="bamboo_3_1">
                            Bamboo 3.1
                        </option>
                    </optgroup>
                    <optgroup label="Confluence">
                        <option value="confluen_4_1">
                            Confluence 4.1
                        </option>
                        <option value="confluen_4_0">
                            Confluence 4.0
                        </option>
                        <option value="confluen_3_5">
                            Confluence 3.5
                        </option>
                        <option value="confluen_3_4">
                            Confluence 3.4
                        </option>
                        <option value="confluen_3_3">
                            Confluence 3.3
                        </option>
                    </optgroup>
                    <optgroup label="Fisheye/Crucible">
                        <option value="fisheyec_2_7">
                            Fisheye/Crucible 2.7
                        </option>
                    </optgroup>
                    <optgroup label="JIRA">
                        <option value="jira_5_0">
                            JIRA 5.0
                        </option>
                        <option value="jira_4_4">
                            JIRA 4.4
                        </option>
                        <option value="jira_4_3">
                            JIRA 4.3
                        </option>
                        <option value="jira_4_2">
                            JIRA 4.2
                        </option>
                        <option value="jira_4_1">
                            JIRA 4.1
                        </option>
                    </optgroup>
                    <optgroup label="Stash">
                        <option value="stash_1_0">
                            Stash 1.0
                        </option>
                    </optgroup>
                </select>
            </form>
        </div>
        <div id="dac-submenu">
            <ul>
                <li>
                    <a data-space-keys="DOCS" href="/display/DOCS/Introduction+to+the+Atlassian+Plugin+SDK"
                    title="Introduction to the Atlassian Plugin SDK">SDK</a>
                </li>
                <li>
                    <a data-space-keys="JIRADEV" href="/display/JIRADEV/JIRA+Developer+Documentation"
                    title="JIRA Developer Documentation">JIRA</a>
                </li>
                <li>
                    <a data-space-keys="CONFDEV" href="/display/CONFDEV/Confluence+Developer+Documentation"
                    title="Confluence Developer Documentation">Confluence</a>
                </li>
                <li>
                    <a data-space-keys="STASH" href="https://developer.atlassian.com/stash/docs/latest/"
                    title="Stash Developer Documentation">Stash</a>
                </li>
                <li>
                    <a data-space-keys="CROWDDEV" href="/display/CROWDDEV/Crowd+Developer+Documentation"
                    title="Crowd Developer Documentation">Crowd</a>
                </li>
                <li>
                    <a data-space-keys="BAMBOODEV" href="/display/BAMBOODEV/Bamboo+Developer+Documentation"
                    title="Bamboo Developer Documentation">Bamboo</a>
                </li>
                <li>
                    <a data-space-keys="GADGETS" href="/display/GADGETS/Gadget+Developer+Documentation"
                    title="Gadget Developer Documentation">Gadgets</a>
                </li>
                <li>
                    <a data-space-keys="AUI" href="/display/AUI/Atlassian+User+Interface+%28AUI%29+Developer+Documentation"
                    title="Atlassian User Interface (AUI) Developer Documentation">AUI</a>
                </li>
                <li>
                    <a class="active" href="/static/" title="API Reference">API Reference</a>
                </li>
                <li>
                    <a data-space-keys="TOOLS" href="/display/TOOLS/Other+Topics" title="Other Topics">Other Topics</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- header-div -->
</div>